body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif
}
.jumbotron{
    width: 50%;
}
button{
    margin-top: 10px;
}
#product, #cart{
    background-color: white;
    padding: 10px;
    box-shadow: 10px 10px 5px #888888;
}